[Unit]
Description=Start backend for sausage-store
After=network.target

[Service]
Type=simple
User=backend
EnvironmentFile=/etc/default/sausage-store-backend
Environment="REPORT_PATH=/var/sausage-store/reports"
Environment="LOG_PATH=/var/sausage-store/logs"
Environment=JAVA_HOME=/usr/lib/jvm/java-16-openjdk-amd64
#Restart=always

ExecStart=/bin/bash -c '${JAVA_HOME}/bin/java -jar /opt/sausage-store/bin/sausage-store.jar'
#ExecStart=/usr/bin/java -jar /opt/sausage-store/bin/sausage-store.jar
SyslogIdentifier=sausage-backend

[Install]
WantedBy=multi-user.target