[Unit]
Description=Start backend for sausage-store
After=network.target

[Service]
Type=simple
User=backend
Environment="REPORT_PATH=/var/sausage-store/reports"
Environment="LOG_PATH=/var/sausage-store/logs"
Restart=always
ExecStart=/usr/bin/java -jar /opt/sausage-store/bin/sausage-store.jar
SyslogIdentifier=sausage-backend

[Install]
WantedBy=multi-user.target 