[Unit]
Description=Start backend for sausage-store
After=network.target

[Service]
Type=simple
User=backend
Environment="REPORT_PATH=/var/sausage-store/reports"
Environment="LOG_PATH=/var/sausage-store/logs"
Environment=JAVA_HOME=/usr/lib/jvm/java-16-openjdk-amd64
#Restart=always
Environment=PSQL_USER="std-027-58"
Environment=PSQL_PASSWORD="Testusr1234"
Environment=PSQL_HOST="rc1a-po1jnu39i5wfa4bw.mdb.yandexcloud.net"
Environment=PSQL_DBNAME="std-027-58"
Environment=PSQL_PORT="6432"

# Параметры подключения к БД можно указать с помощью переменных окружения SPRING
Environment=SPRING_DATASOURCE_URL="jdbc:postgresql://${PSQL_HOST}:${PSQL_PORT}/${PSQL_DBNAME}?ssl=true"
Environment=SPRING_DATASOURCE_USERNAME="${PSQL_USER}"
Environment=SPRING_DATASOURCE_PASSWORD="${PSQL_PASSWORD}"

ExecStart=/bin/bash -c '${JAVA_HOME}/bin/java -jar /opt/sausage-store/bin/sausage-store.jar'
#ExecStart=/usr/bin/java -jar /opt/sausage-store/bin/sausage-store.jar
SyslogIdentifier=sausage-backend

[Install]
WantedBy=multi-user.target